/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  border: none;
  outline: none;
}

.footer__title, .masters h2, .studio__title, .recent-work h2, .counter__card h2, .about__title {
  font-size: 144px;
  line-height: 115px;
  letter-spacing: -0.02em;
}
@media (max-width: 1024px) {
  .footer__title, .masters h2, .studio__title, .recent-work h2, .counter__card h2, .about__title {
    font-size: 90px;
    line-height: 0.8em;
  }
}
@media (max-width: 767px) {
  .footer__title, .masters h2, .studio__title, .recent-work h2, .counter__card h2, .about__title {
    font-size: 64px;
  }
}
.footer__title span, .masters h2 span, .studio__title span, .recent-work h2 span, .counter__card h2 span, .about__title span {
  color: #666666;
}
@media (max-width: 450px) {
  .footer__title, .masters h2, .studio__title, .recent-work h2, .counter__card h2, .about__title {
    font-size: 42px;
  }
}

.footer__btn, .studio__btn, .recent-work__btn, .about__btn, .welcome__btn {
  width: 320px;
  height: 80px;
  font-size: 20px;
  line-height: 22px;
  letter-spacing: -0.02em;
  color: #121213;
  background: #ffffff;
  border: 2px solid #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 1;
}
.footer__btn:hover, .studio__btn:hover, .recent-work__btn:hover, .about__btn:hover, .welcome__btn:hover {
  background: #121213;
  color: #ffffff;
}
@media (max-width: 425px) {
  .footer__btn, .studio__btn, .recent-work__btn, .about__btn, .welcome__btn {
    height: 60px;
    width: 100%;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Bebas Neue", cursive;
  background: #121213;
  color: #ffffff;
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

a {
  display: inline-block;
  text-decoration: none;
  font-weight: 400;
  color: #666666;
}
a:hover {
  color: #ffffff;
}

button {
  cursor: pointer;
}

img {
  width: 100%;
}

*:before,
*:after,
a,
button,
svg,
span,
li,
p {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

input {
  display: block;
  width: 100%;
  padding: 16px 28px;
  font-family: "Gothic A1", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #121213;
  background: #f3f3f3;
  border: 2px solid #f3f3f3;
}
input::-webkit-input-placeholder {
  color: #121213;
}
input::-moz-placeholder {
  color: #121213;
}
input:-ms-input-placeholder {
  color: #121213;
}
input::-ms-input-placeholder {
  color: #121213;
}
input::placeholder {
  color: #121213;
}
input:focus {
  outline: none;
  background: #ffffff;
  border-color: #121213;
}

label {
  font-size: 18px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #a6a6a6;
  display: block;
  margin-bottom: 11px;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 1460px;
  padding: 0 20px;
  margin: 0 auto;
}

.big-container {
  max-width: 1760px;
  padding: 0 20px;
  margin: 0 auto;
}

.small-container {
  max-width: 980px;
  padding: 0 20px;
  margin: 0 auto;
}

.header {
  padding: 30px 0;
}
.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__tel {
  color: #ffffff;
  font-family: "Gothic A1", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: -0.04em;
  margin: 0px 80px 5px auto;
  position: relative;
}
.header__tel:hover svg {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}
.header__tel svg {
  position: absolute;
  top: 0;
  left: -37px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.header__burger {
  position: relative;
  width: 34px;
  height: 20px;
  cursor: pointer;
  margin-top: -9px;
}
.header__burger:hover::after, .header__burger:hover::before {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.header__burger::before, .header__burger::after {
  content: "";
  background-color: #ffffff;
  position: absolute;
  left: 0;
  width: 100%;
  height: 5px;
}
.header__burger::before {
  top: 0;
}
.header__burger::after {
  bottom: 0;
}

.welcome__background {
  padding: 0 0 100px 0;
  background-image: url("../img/welcome-background.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.welcome h1 {
  font-size: 11.47vw;
  line-height: 80%;
  letter-spacing: -0.02em;
  margin-bottom: 80px;
}
.welcome__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.welcome__content {
  width: 50%;
}
.welcome__social {
  text-align: right;
  margin-bottom: -10px;
}
.welcome__social li {
  font-size: 36px;
  line-height: 40px;
  letter-spacing: -0.02em;
}

.about {
  margin: 200px 0 200px;
}
.about__wrapper {
  position: relative;
}
.about__img-big {
  position: absolute;
  top: 125px;
  left: 0;
  max-width: 460px;
  max-height: 580px;
  z-index: -1;
}
.about__img-big img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.about__img-small {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 340px;
  max-height: 416px;
  z-index: -1;
}
.about__img-small img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.about__title {
  padding-top: 315px;
  text-align: center;
  margin-bottom: 80px;
}
.about__btn {
  margin: 0 auto;
}

.counter {
  margin-bottom: 200px;
}
.counter__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 -50px;
}
@media (max-width: 1024px) {
  .counter__wrapper {
    margin: 0;
  }
}
.counter__card {
  text-align: center;
  width: 33.33%;
  padding: 0 50px;
}
@media (max-width: 1024px) {
  .counter__card {
    padding: 0;
    width: 200px;
  }
}
.counter__card h2 {
  color: #666666;
  margin-bottom: 20px;
}
.counter__card p {
  line-height: 34px;
  font-family: "Gothic A1", sans-serif;
}

.recent-work {
  margin-bottom: 200px;
}
.recent-work h2 {
  text-align: center;
  margin-bottom: 100px;
}
.recent-work__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 96px;
}
.recent-work__item:nth-child(odd) .recent-work__img {
  max-width: 580px;
  max-height: 720px;
}
.recent-work__item:nth-child(even) .recent-work__img {
  max-width: 580px;
  max-height: 560px;
}
.recent-work__item:nth-child(3n) {
  margin: 146px auto;
}
.recent-work__item:nth-child(3n) .recent-work__img {
  max-width: 940px;
  max-height: 520px;
}
.recent-work__img {
  margin-bottom: 25px;
}
.recent-work__img img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.recent-work__link {
  line-height: 22px;
  letter-spacing: 0.01em;
}
.recent-work__btn {
  background: #121213;
  color: #ffffff;
  margin: 0 auto;
}
.recent-work__btn:hover {
  color: #121213;
  background: #ffffff;
}

.studio__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  padding: 230px 0 292px 0;
  margin-bottom: 200px;
}
.studio__left-part {
  width: 59%;
}
.studio__title {
  margin-bottom: 80px;
}
.studio__right-part {
  width: 33.33%;
  padding-top: 12px;
  padding-left: 13px;
}
.studio__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.studio__card:not(:last-child) {
  margin-bottom: 40px;
}
.studio__card-img {
  width: 64px;
  height: 64px;
}
.studio__card-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.studio__card-content {
  width: calc(100% - 64px);
  padding-left: 30px;
}
.studio__card-content h3 {
  max-width: 246px;
  font-size: 36px;
  line-height: 32px;
  color: #666666;
  margin-bottom: 20px;
}
.studio__card-content p {
  font-family: "Gothic A1", sans-serif;
  font-size: 18px;
  line-height: 23px;
}
.studio .img-container {
  position: absolute;
  z-index: -1;
}
.studio .img-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.studio .photo-1 {
  top: 0;
  left: 120px;
  width: 740px;
  height: 560px;
}
.studio .photo-2 {
  bottom: 205px;
  right: 120px;
  width: 440px;
  height: 296px;
}
.studio .photo-2 img {
  opacity: 0.5;
}
.studio .photo-3 {
  bottom: 0;
  left: 360px;
  width: 340px;
  height: 332px;
}
.studio .photo-3 img {
  opacity: 0.1;
}

.masters {
  margin-bottom: 196px;
}
.masters h2 {
  margin: 0 auto 100px;
  text-align: center;
  max-width: 526px;
}
.masters__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 80px;
  margin: 0 -10px;
  width: calc(100% + 20px);
}
.masters__card {
  width: 33.33%;
  padding: 0 10px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.masters__card h3 {
  line-height: 22px;
  letter-spacing: 0.01em;
}
.masters__card:hover {
  color: #666666;
}
.masters__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #666666;
  margin-bottom: 20px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  height: 520px;
  width: 100%;
}
.masters__img:hover {
  padding: 40px;
}
.masters__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer {
  margin-bottom: 150px;
}
.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 4px solid #ffffff;
  padding-top: 200px;
}
.footer__left-part {
  width: 50%;
  margin-right: 40px;
}
.footer__title {
  margin-bottom: 80px;
}
.footer__right-part {
  max-width: 460px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__right-part h3 {
  line-height: 22px;
  color: #666666;
  margin-bottom: 10px;
}
.footer__right-part p {
  font-family: "Gothic A1", sans-serif;
  margin-top: 27px;
  margin-bottom: 80px;
  color: #666666;
}
.footer__tel {
  font-family: "Gothic A1", sans-serif;
  color: #ffffff;
  letter-spacing: -0.04em;
}
.footer__tel:hover {
  color: #666666;
}
.footer__email {
  font-family: "Gothic A1", sans-serif;
  color: #ffffff;
}
.footer__email:hover {
  color: #666666;
}
.footer__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}
.footer__social-list li:not(:last-child) {
  padding-right: 35px;
}
.footer__social-list li svg {
  fill: #ffffff;
}
.footer__social-list li svg:hover {
  fill: #666666;
}
.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Gothic A1", sans-serif;
  font-size: 14px;
  line-height: 18px;
  padding-bottom: 31px;
}
.footer__nav li:not(:last-child) {
  padding-right: 20px;
}

@media (max-width: 1024px) {
  .welcome h1 {
    font-size: 20vw;
    line-height: 100%;
  }
  .welcome__social a {
    color: #ffffff;
  }
  .welcome__social a:hover {
    padding-right: 15px;
  }
}
@media (max-width: 767px) {
  .header__tel {
    font-size: 0;
    margin: 0 20px 0 auto;
  }
  .welcome {
    margin-top: 180px;
  }
  .welcome__background {
    padding: 0 0 70px 0;
    height: auto;
  }
}
@media (max-width: 550px) {
  .welcome h1 {
    margin-bottom: 40px;
  }
  .welcome__social {
    display: none;
  }
  .welcome__content {
    width: 100%;
  }
  .welcome__btn {
    width: 100%;
  }
}
@media (max-width: 1024px) {
  .about {
    margin: 10px 0 120px;
  }
  .about__img-big {
    top: 0;
  }
  .about__img-small {
    display: none;
  }
  .about__title {
    text-align: right;
    max-width: 600px;
    margin-left: auto;
    padding-top: 300px;
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .about {
    margin: 80px 0 80px;
  }
  .about__title {
    max-width: 490px;
  }
}
@media (max-width: 530px) {
  .about__img-big {
    position: static;
    max-width: 100%;
    max-height: 100%;
  }
  .about__title {
    text-align: center;
    padding: 0;
    margin-top: -100px;
  }
}
@media (max-width: 450px) {
  .about__title {
    max-width: 350px;
    margin-right: auto;
    margin-top: -60px;
  }
}
@media (max-width: 1024px) {
  .counter {
    margin-bottom: 120px;
  }
  .counter__card p {
    font-size: 20px;
    line-height: 30px;
  }
}
@media (max-width: 767px) {
  .counter {
    margin-bottom: 80px;
  }
  .counter__wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .counter__card {
    width: 230px;
    margin: 0 auto;
    margin-bottom: 40px;
    padding: 0 15px;
  }
  .counter__card h2 {
    font-size: 70px;
  }
}
@media (max-width: 1280px) {
  .recent-work__item {
    width: 45%;
  }
  .recent-work__item:nth-child(odd) .recent-work__img {
    max-width: inherit;
    max-height: inherit;
  }
  .recent-work__item:nth-child(even) .recent-work__img {
    max-width: inherit;
    max-height: inherit;
  }
  .recent-work__item:nth-child(3n) {
    width: 100%;
    margin: 40px 0;
  }
  .recent-work__item:nth-child(3n) .recent-work__img {
    max-width: inherit;
    max-height: inherit;
  }
  .recent-work__img {
    margin-bottom: 15px;
  }
}
@media (max-width: 1024px) {
  .recent-work {
    margin-bottom: 120px;
  }
  .recent-work h2 {
    margin-bottom: 60px;
  }
  .recent-work__wrapper {
    margin-bottom: 50px;
  }
}
@media (max-width: 767px) {
  .recent-work {
    margin-bottom: 80px;
  }
  .recent-work h2 {
    margin-bottom: 40px;
  }
}
@media (max-width: 620px) {
  .recent-work__wrapper {
    margin-bottom: 0;
  }
  .recent-work__item {
    width: 100%;
    margin-bottom: 30px;
  }
  .recent-work__item:nth-child(3n) {
    margin: 0 0 30px;
  }
  .recent-work__img {
    margin-bottom: 5px;
  }
}

@media (max-width: 1250px) and (min-width: 1025px) {
  .studio h2 {
    font-size: 100px;
    line-height: 1;
    max-width: 580px;
  }
  .studio__right-part {
    width: 41%;
    padding-left: 20px;
  }
  .studio .photo-2 {
    display: none;
  }
}
@media (max-width: 1024px) {
  .studio {
    margin-bottom: 120px;
  }
  .studio h2 br {
    display: none;
  }
  .studio__wrapper {
    padding: 230px 0 0 0;
    margin-bottom: inherit;
  }
  .studio__title {
    margin-bottom: 50px;
  }
  .studio__right-part {
    width: 100%;
    padding-top: 40px;
    padding-left: 0px;
  }
  .studio .photo-1 {
    left: 60px;
    width: 500px;
    height: 450px;
  }
  .studio .photo-2 {
    bottom: 241px;
    right: 40px;
    width: 349px;
    height: 214px;
  }
  .studio .photo-3 {
    bottom: auto;
    left: auto;
    top: 57px;
    right: 20px;
    width: 236px;
    height: 342px;
  }
  .studio .photo-3 img {
    opacity: 0.5;
  }
  .studio__card-content {
    width: calc(100% - 50px);
  }
  .studio__card-content h3 {
    max-width: 100%;
    font-size: 30px;
  }
  .studio__card-img {
    width: 50px;
    height: 50px;
  }
}
@media (max-width: 880px) {
  .studio .photo-2 {
    display: none;
  }
  .studio .photo-3 {
    display: none;
  }
  .studio__left-part {
    width: 64%;
  }
}
@media (max-width: 767px) {
  .studio {
    margin-bottom: 80px;
  }
  .studio__wrapper {
    padding: 0;
  }
  .studio__left-part {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 100%;
  }
  .studio__right-part {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    padding-top: 30px;
  }
  .studio .photo-1 {
    position: static;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: calc(100% + 40px);
    margin: 0 -20px;
  }
  .studio__title {
    margin-bottom: 30px;
  }
  .studio__card-img {
    width: 40px;
    height: 40px;
  }
  .studio__card-content {
    width: calc(100% - 40px);
    padding-left: 15px;
  }
  .studio__card-content p {
    font-size: 14px;
  }
  .studio__btn {
    margin-bottom: 30px;
  }
}

@media (max-width: 1250px) and (min-width: 1025px) {
  .masters__card {
    padding: 0 20px;
  }
  .masters__img {
    height: 440px;
  }
}
@media (max-width: 1024px) {
  .masters {
    margin-bottom: 120px;
  }
  .masters h2 {
    margin-bottom: 60px;
  }
  .masters__wrapper {
    row-gap: 50px;
  }
  .masters__img {
    height: 305px;
  }
  .masters__img:hover {
    padding: 25px;
  }
}
@media (max-width: 767px) {
  .masters {
    margin-bottom: 80px;
  }
  .masters h2 {
    margin-bottom: 40px;
  }
  .masters__wrapper {
    row-gap: 30px;
  }
  .masters__card {
    width: 50%;
  }
  .masters__img {
    height: 350px;
  }
}
@media (max-width: 590px) {
  .masters__card {
    width: 100%;
  }
  .masters__img {
    height: 500px;
  }
}
@media (max-width: 425px) {
  .masters__img {
    height: 400px;
  }
}

@media (max-width: 1250px) and (min-width: 1025px) {
  .footer__title {
    font-size: 109px;
    line-height: 100px;
  }
}
@media (max-width: 1024px) {
  .footer {
    margin-bottom: 100px;
  }
  .footer__wrapper {
    padding-top: 100px;
  }
  .footer__title {
    margin-bottom: 50px;
  }
}
@media (max-width: 767px) {
  .footer {
    margin-bottom: 80px;
  }
  .footer__wrapper {
    padding-top: 80px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
  }
  .footer__title {
    margin-bottom: 30px;
  }
  .footer__left-part {
    width: 100%;
    margin-right: inherit;
    margin-bottom: 50px;
  }
  .footer__btn {
    margin: 0 auto;
  }
  .footer__right-part {
    width: 100%;
    max-width: inherit;
  }
  .footer__tel {
    padding-right: 30px;
  }
  .footer__social-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__nav {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 375px) {
  .footer__email {
    font-size: 20px;
  }
}