@media (max-width: 1440px) {
}

@media (max-width: $tablet) {
  // Welcome
  .welcome {
    h1 {
      font-size: 20vw;
      line-height: 100%;
    }

    &__social {
      a {
        color: $white-color;

        &:hover {
          padding-right: 15px;
        }
      }
    }
  }
}

@media (max-width: $mobile) {
  .header__tel {
    font-size: 0;
    margin: 0 20px 0 auto;
  }

  .welcome {
    margin-top: 180px;

    &__background {
      padding: 0 0 70px 0;
      height: auto;
    }
  }
}

@media (max-width: 550px) {
  .welcome {
    h1 {
      margin-bottom: 40px;
    }

    &__social {
      display: none;
    }

    &__content {
      width: 100%;
    }

    &__btn {
      width: 100%;
    }
  }
}

// About
@media (max-width: $tablet) {
  .about {
    margin: 10px 0 120px;

    &__img-big {
      top: 0;
    }

    &__img-small {
      display: none;
    }

    &__title {
      text-align: right;
      max-width: 600px;
      margin-left: auto;
      padding-top: 300px;
      margin-bottom: 30px;
    }
  }
}

@media (max-width: $mobile) {
  .about {
    margin: 80px 0 80px;

    &__title {
      max-width: 490px;
    }
  }
}

@media (max-width: 530px) {
  .about {
    &__img-big {
      position: static;
      max-width: 100%;
      max-height: 100%;
    }
    &__title {
      text-align: center;
      padding: 0;
      margin-top: -100px;
    }
  }
}

@media (max-width: 450px) {
  .about {
    &__title {
      max-width: 350px;
      margin-right: auto;
      margin-top: -60px;
    }
  }
}

// Counter
@media (max-width: $tablet) {
  .counter {
    margin-bottom: 120px;

    &__card {
      p {
        font-size: 20px;
        line-height: 30px;
      }
    }
  }
}

@media (max-width: $mobile) {
  .counter {
    margin-bottom: 80px;

    &__wrapper {
      flex-wrap: wrap;
    }

    &__card {
      width: 230px;
      margin: 0 auto;
      margin-bottom: 40px;
      padding: 0 15px;

      h2 {
        font-size: 70px;
      }
    }
  }
}

// Recent-work
.recent-work {
  @media (max-width: 1280px) {
    &__item {
      width: 45%;

      &:nth-child(odd) .recent-work__img {
        max-width: inherit;
        max-height: inherit;
      }

      &:nth-child(even) .recent-work__img {
        max-width: inherit;
        max-height: inherit;
      }

      &:nth-child(3n) {
        width: 100%;
        margin: 40px 0;
        .recent-work__img {
          max-width: inherit;
          max-height: inherit;
        }
      }
    }

    &__img {
      margin-bottom: 15px;
    }
  }

  @media (max-width: $tablet) {
    margin-bottom: 120px;

    h2 {
      margin-bottom: 60px;
    }

    &__wrapper {
      margin-bottom: 50px;
    }
  }

  @media (max-width: $mobile) {
    margin-bottom: 80px;

    h2 {
      margin-bottom: 40px;
    }
  }

  @media (max-width: 620px) {
    &__wrapper {
      margin-bottom: 0;
    }

    &__item {
      width: 100%;
      margin-bottom: 30px;
      &:nth-child(3n) {
        margin: 0 0 30px;
      }
    }

    &__img {
      margin-bottom: 5px;
    }
  }
}

// Studio
.studio {
  @media (max-width: 1250px) and (min-width: 1025px) {
    h2 {
      font-size: 100px;
      line-height: 1;
      max-width: 580px;
    }

    &__right-part {
      width: 41%;
      padding-left: 20px;
    }

    .photo-2 {
      display: none;
    }
  }

  @media (max-width: $tablet) {
    margin-bottom: 120px;

    h2 {
      br {
        display: none;
      }
    }

    &__wrapper {
      padding: 230px 0 0 0;
      margin-bottom: inherit;
    }

    &__title {
      margin-bottom: 50px;
    }

    &__right-part {
      width: 100%;
      padding-top: 40px;
      padding-left: 0px;
    }

    .photo-1 {
      left: 60px;
      width: 500px;
      height: 450px;
    }

    .photo-2 {
      bottom: 241px;
      right: 40px;
      width: 349px;
      height: 214px;
    }

    .photo-3 {
      bottom: auto;
      left: auto;
      top: 57px;
      right: 20px;
      width: 236px;
      height: 342px;
      img {
        opacity: 0.5;
      }
    }

    &__card {
      &-content {
        width: calc(100% - 50px);
        h3 {
          max-width: 100%;
          font-size: 30px;
        }
      }
      &-img {
        width: 50px;
        height: 50px;
      }
    }
  }

  @media (max-width: 880px) {
    .photo-2 {
      display: none;
    }

    .photo-3 {
      display: none;
    }

    &__left-part {
      width: 64%;
    }
  }

  @media (max-width: $mobile) {
    margin-bottom: 80px;

    &__wrapper {
      padding: 0;
    }

    &__left-part {
      order: 1;
      width: 100%;
    }

    &__right-part {
      order: 3;
      padding-top: 30px;
    }

    .photo-1 {
      position: static;
      order: 2;
      width: calc(100% + 40px);
      margin: 0 -20px;
    }

    &__title {
      margin-bottom: 30px;
    }

    &__card {
      &-img {
        width: 40px;
        height: 40px;
      }

      &-content {
        width: calc(100% - 40px);
        padding-left: 15px;

        p {
          font-size: 14px;
        }
      }
    }

    &__btn {
      margin-bottom: 30px;
    }
  }
}

// Masters
.masters {
  @media (max-width: 1250px) and (min-width: 1025px) {
    &__card {
      padding: 0 20px;
    }

    &__img {
      height: 440px;
    }
  }

  @media (max-width: $tablet) {
    margin-bottom: 120px;

    h2 {
      margin-bottom: 60px;
    }

    &__wrapper {
      row-gap: 50px;
    }

    &__img {
      height: 305px;
      &:hover {
        padding: 25px;
      }
    }
  }

  @media (max-width: $mobile) {
    margin-bottom: 80px;

    h2 {
      margin-bottom: 40px;
    }

    &__wrapper {
      row-gap: 30px;
    }

    &__card {
      width: 50%;
    }

    &__img {
      height: 350px;
    }
  }

  @media (max-width: 590px) {
    &__card {
      width: 100%;
    }

    &__img {
      height: 500px;
    }
  }

  @media (max-width: 425px) {
    &__img {
      height: 400px;
    }
  }
}
