* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: $main-font;
  background: $black-color;
  color: $white-color;
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
}

main {
  flex: 1 1 auto;
}

a {
  display: inline-block;
  text-decoration: none;
  font-weight: 400;
  color: $grey-color;

  &:hover {
    color: $white-color;
  }
}

button {
  cursor: pointer;
}

img {
  width: 100%;
}

*:before,
*:after,
a,
button,
svg,
span,
li,
p {
  transition: all 0.3s ease-in-out;
}

input {
  display: block;
  width: 100%;
  padding: 16px 28px;
  font-family: $secondary-font;
  font-size: 18px;
  line-height: 24px;
  color: $black-color;
  background: #f3f3f3;
  border: 2px solid #f3f3f3;

  &::placeholder {
    color: $black-color;
  }

  &:focus {
    outline: none;
    background: $white-color;
    border-color: $black-color;
  }
}

label {
  font-size: 18px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #a6a6a6;
  display: block;
  margin-bottom: 11px;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1460px;
  padding: 0 20px;
  margin: 0 auto;
}

.big-container {
  max-width: 1760px;
  padding: 0 20px;
  margin: 0 auto;
}

.small-container {
  max-width: 980px;
  padding: 0 20px;
  margin: 0 auto;
}
